<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./images.css" />
  </head>
  <body>
    <h2 class="sm-gutter">Images</h2>
    <h3 class="sm-gutter">Images of Different Sizes</h3>
    <div class="img-container">
      <div class="images xs-gutter">
        <img
          class="img-md sm-brr xs-gutter"
          src="https://picsum.photos/200"
          alt=""
        />
      </div>
      <div class="images">
        <img
          class="img-lg sm-brr xs-gutter"
          src="https://picsum.photos/200"
          alt=""
        />
      </div>
      <div class="images">
        <img
          class="img-xl sm-brr xs-gutter"
          src="https://picsum.photos/200"
          alt=""
        />
      </div>
      <div class="images">
        <img
          class="img-xxxl sm-brr xs-gutter"
          src="https://picsum.photos/200"
          alt=""
        />
      </div>
      <div class="images">
        <img
          class="img-full sm-brr xs-gutter"
          src="https://picsum.photos/200"
          alt=""
        />
      </div>
    </div>

    <h3 class="sm-gutter">Rounded Images</h3>
    <div class="img-container">
      <div class="images">
        <img
          src="https://picsum.photos/200"
          alt=""
          class="xs-gutter img-lg full-brr"
        />
      </div>
      <div class="images">
        <img
          src="https://picsum.photos/200"
          alt=""
          class="xs-gutter img-xl full-brr"
        />
      </div>
      <div class="images">
        <img
          src="https://picsum.photos/200"
          alt=""
          class="xs-gutter img-xxl full-brr"
        />
      </div>
      <div class="images">
        <img
          src="https://picsum.photos/200"
          alt=""
          class="xs-gutter img-xxxl full-brr"
        />
      </div>
      <div class="images">
        <img
          src="https://picsum.photos/200"
          alt=""
          class="xs-gutter img-full full-brr"
        />
      </div>
    </div>
  </body>
</html>
