<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./images.css" />
  </head>
  <body>
    <h2 class="sm-gutter">Images</h2>
    <h3 class="sm-gutter">Images of Different Sizes</h3>
    <div class="img-container">
      <img
        class="img-xxxs sm-brr xs-gutter"
        src="https://picsum.photos/200"
        alt=""
      />
      <img
        class="img-xxs sm-brr xs-gutter"
        src="https://picsum.photos/200"
        alt=""
      />

      <img
        class="img-xs sm-brr xs-gutter"
        src="https://picsum.photos/200"
        alt=""
      />
      <img
        class="img-sm sm-brr xs-gutter"
        src="https://picsum.photos/200"
        alt=""
      />
    </div>

    <!-- <img
        class="img-xxxl sm-brr xs-gutter"
        src="https://picsum.photos/200"
        alt=""
      />

      <img
        class="img-full sm-brr xs-gutter"
        src="https://picsum.photos/200"
        alt=""
      /> -->

    <h3 class="sm-gutter">Rounded Images</h3>
    <div class="img-container">
      
        <img
          src="https://picsum.photos/200"
          alt=""
          class="xs-gutter img-xxxs full-brr"
        />
      
      
        <img
          src="https://picsum.photos/200"
          alt=""
          class="xs-gutter img-xxs full-brr"
        />
      
      
        <img
          src="https://picsum.photos/200"
          alt=""
          class="xs-gutter img-xs full-brr"
        />
      
      
        <img
          src="https://picsum.photos/200"
          alt=""
          class="xs-gutter img-sm full-brr"
        />
      
      
        <img
          src="https://picsum.photos/200"
          alt=""
          class="xs-gutter img-md full-brr"
        />
      </div>
    </div>
  </body>
</html>
