<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./images.css" />
  </head>
  <body class="bg-dark">
    <h2 class="sm-gutter">Images</h2>
    <h3 class="sm-gutter">Images of Different Sizes</h3>
    <div class="img-container">
      <div class="img-xxxs sm-gutter">
        <img
          class="img-full sm-brr xs-gutter"
          src="https://picsum.photos/200"
          alt="sample-img"
        />
      </div>
      <div class="img-xxs sm-gutter">
        <img
          class="img-full sm-brr xs-gutter"
          src="https://picsum.photos/200"
          alt="sample-img"
        />
      </div>

      <div class="img-xs sm-gutter">
        <img
          class="img-full sm-brr xs-gutter"
          src="https://picsum.photos/200"
          alt="sample-img"
        />
      </div>

      <div class="img-sm sm-gutter">
        <img
          class="img-full sm-brr xs-gutter"
          src="https://picsum.photos/200"
          alt=""
        />
      </div>
    </div>

    <h3 class="sm-gutter">Rounded Images</h3>
    <div class="img-container">
      <div class="img-xxxs sm-gutter">
        <img
          src="https://picsum.photos/200"
          alt="sample-img"
          class="xs-gutter img-full full-brr"
        />
      </div>

      <div class="img-xxs sm-gutter">
        <img
          src="https://picsum.photos/200"
          alt="sample-img"
          class="xs-gutter img-full full-brr"
        />
      </div>

      <div class="img-xs sm-gutter">
        <img
          src="https://picsum.photos/200"
          alt="sample-img"
          class="xs-gutter img-full full-brr"
        />
      </div>

      <div class="img-sm sm-gutter">
        <img
          src="https://picsum.photos/200"
          alt="sample-img"
          class="xs-gutter img-full full-brr"
        />
      </div>
    </div>
  </body>
</html>
