<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grids</title>
    <link rel="stylesheet" href="grid.css" />
  </head>
  <body class="bg-dark">
    <h2 class="xs-gutter">Responsive Grids</h2>
    <h3 class="sm-gutter">Grid: 2 items</h3>
    <div class="responsive-grid-items">
      <div class="card-container sm-gutter sm-brr">
        <img
          class="img-full sm-brr"
          src="https://cdn.wallpapersafari.com/52/47/VKjh5B.jpg"
          alt=""
        />
        <div class="card__content">
          <div class="card__heading xs-gutter para-md semibold-weight">
            Black Panther
          </div>
          <div class="card__author xs-gutter para-sm">by Kurt Wagner</div>
          <div class="card__info xs-gutter para-sm-xs">
            Visit ten places on our planet that are undergoing the biggest
            changes today.Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.
          </div>
        </div>
        <div class="card__actions sm-gutter">
          <div class="card__read para-sm-xs semibold-weight">
            <a href="">READ</a>
          </div>
          <div class="card__bookmark para-sm-xs semibold-weight">
            <a href="">BOOKMARK</a>
          </div>
          <div class="card__like">
            <a href=""><i class="fas fa-share-alt para-sm"></i></a>
          </div>
          <div class="card__share">
            <a href=""><i class="far fa-heart para-sm"></i></a>
          </div>
          <div class="card__vert">
            <a href=""><i class="fas fa-ellipsis-v para-sm"></i></a>
          </div>
        </div>
      </div>
      <!-- Card 2 -->

      <div class="card-container sm-gutter sm-brr">
        <div class="card__content">
          <div class="card__heading xs-gutter para-md semibold-weight">
            Black Panther
          </div>
          <div class="card__author xs-gutter para-sm">by Kurt Wagner</div>
        </div>
        <img
          class="img__card-4 img-full"
          src="https://cdn.wallpapersafari.com/52/47/VKjh5B.jpg"
          alt=""
        />
        <div class="card__info xs-gutter para-sm-xs">
          Visit ten places on our planet that are undergoing the biggest changes
          today.Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </div>
        <div class="card__actions sm-gutter">
          <div class="card__read para-sm-xs semibold-weight">
            <a href="">READ</a>
          </div>
          <div class="card__bookmark para-sm-xs semibold-weight">
            <a href="">BOOKMARK</a>
          </div>
          <div class="card__like">
            <a href=""><i class="fas fa-share-alt para-sm"></i></a>
          </div>
          <div class="card__share">
            <a href=""><i class="far fa-heart para-sm"></i></a>
          </div>
          <div class="card__vert">
            <a href=""><i class="fas fa-ellipsis-v para-sm"></i></a>
          </div>
        </div>
      </div>
    </div>

    <h3 class="sm-gutter">Grid: 3 items</h3>
    <div class="responsive-grid-items">
      <div class="card-container sm-gutter sm-brr">
        <img
          class="img-full sm-brr"
          src="https://cdn.wallpapersafari.com/52/47/VKjh5B.jpg"
          alt=""
        />
        <div class="card__content">
          <div class="card__heading xs-gutter para-md semibold-weight">
            Black Panther
          </div>
          <div class="card__author xs-gutter para-sm">by Kurt Wagner</div>
          <div class="card__info xs-gutter para-sm-xs">
            Visit ten places on our planet that are undergoing the biggest
            changes today.Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.
          </div>
        </div>
        <div class="card__actions sm-gutter">
          <div class="card__read para-sm-xs semibold-weight">
            <a href="">READ</a>
          </div>
          <div class="card__bookmark para-sm-xs semibold-weight">
            <a href="">BOOKMARK</a>
          </div>
          <div class="card__like">
            <a href=""><i class="fas fa-share-alt para-sm"></i></a>
          </div>
          <div class="card__share">
            <a href=""><i class="far fa-heart para-sm"></i></a>
          </div>
          <div class="card__vert">
            <a href=""><i class="fas fa-ellipsis-v para-sm"></i></a>
          </div>
        </div>
      </div>
      <!-- Card 2 -->

      <div class="card-container sm-gutter sm-brr">
        <div class="card__content">
          <div class="card__heading xs-gutter para-md semibold-weight">
            Black Panther
          </div>
          <div class="card__author xs-gutter para-sm">by Kurt Wagner</div>
        </div>
        <img
          class="img__card-4 img-full"
          src="https://cdn.wallpapersafari.com/52/47/VKjh5B.jpg"
          alt=""
        />
        <div class="card__info xs-gutter para-sm-xs">
          Visit ten places on our planet that are undergoing the biggest changes
          today.Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </div>
        <div class="card__actions sm-gutter">
          <div class="card__read para-sm-xs semibold-weight">
            <a href="">READ</a>
          </div>
          <div class="card__bookmark para-sm-xs semibold-weight">
            <a href="">BOOKMARK</a>
          </div>
          <div class="card__like">
            <a href=""><i class="fas fa-share-alt para-sm"></i></a>
          </div>
          <div class="card__share">
            <a href=""><i class="far fa-heart para-sm"></i></a>
          </div>
          <div class="card__vert">
            <a href=""><i class="fas fa-ellipsis-v para-sm"></i></a>
          </div>
        </div>
      </div>

      <div class="card-container sm-gutter sm-brr">
        <div class="card__media">
          <img
            class="img__card-2 img-full sm-brr"
            src="https://cdn.wallpapersafari.com/52/47/VKjh5B.jpg"
            alt=""
          />
          <div class="card__content--card_2">
            <div class="card__heading card_2 xs-gutter para-md semibold-weight">
              Black Panther
            </div>
            <div class="card__author card_2 xs-gutter para-sm">
              by Kurt Wagner
            </div>
          </div>
        </div>

        <div class="card__info sm-gutter para-sm-xs">
          Visit ten places on our planet that are undergoing the biggest changes
          today.Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </div>
        <div class="card__actions sm-gutter">
          <div class="card__read para-sm-xs semibold-weight">
            <a href="">READ</a>
          </div>
          <div class="card__bookmark para-sm-xs semibold-weight">
            <a href="">BOOKMARK</a>
          </div>
          <div class="card__like">
            <a href=""><i class="fas fa-share-alt para-sm"></i></a>
          </div>
          <div class="card__share">
            <a href=""><i class="far fa-heart para-sm"></i></a>
          </div>
          <div class="card__vert">
            <a href=""><i class="fas fa-ellipsis-v para-sm"></i></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
