<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./TextUtil.css" />
  </head>
  <body>
    <h2 class="xs-gutter">Text Utilities</h2>
    <h3 class="sm-gutter">Heading Variants</h3>
    <div class="text-container xs-gutter">
      <h1 class="xs-gutter">Heading</h1>
      <h2 class="xs-gutter">Heading</h2>
      <h3 class="xs-gutter">Heading</h3>
      <h4 class="xs-gutter">Heading</h4>
      <h5 class="xs-gutter">Heading</h5>
    </div>

    <h3 class="sm-gutter">Text Variants</h3>
    <div class="text-container xs-gutter">
      <div class="xs-gutter bolder para-sm">Text Bolder</div>
      <div class="xs-gutter bold para-sm">Text Bold</div>
      <div class="xs-gutter semibold-weight para-sm">Text Semibold</div>
      <div class="xs-gutter regular-weight para-sm">Text Regular</div>
      <div class="xs-gutter light-weight para-sm">Text Light Weight</div>
      <div class="xs-gutter regular-weight para-sm grey semibold-weight">
        Text Grey
      </div>
    </div>
    <h3 class="sm-gutter">Text Sizes</h3>
    <div class="text-container xs-gutter">
      <div class="xs-gutter para-xs">Text Bolder</div>
      <div class="xs-gutter para-sm-xs">Text Bold</div>
      <div class="xs-gutter para-sm">Text Semibold</div>
      <div class="xs-gutter para-md">Text Regular</div>
      <div class="xs-gutter para-lg">Text Light Weight</div>
      <div class="xs-gutter para-xl grey semibold-weight">Text Grey</div>
    </div>

    <h3 class="sm-gutter">Paragraph text</h3>
    <div class="text-container xs-gutter">
      <div class="xs-gutter img-xl para-sm-xs">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
      <div class="xs-gutter img-lg para-sm-xs">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
      <div class="xs-gutter img-md para-sm-xs">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
    </div>
  </body>
</html>
