<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons</title>
    <link rel="stylesheet" href="button.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-dark">
    <h2 class="sm-gutter">Buttons And Links</h2>
    <div class="sm-gutter">
      <h3 class="sm-gutter">Primary & Secondary Buttons & Links</h3>
      <a href="" class="primary-btn sm-gutter md-brr para-sm-xs"
        >Primary Button</a
      >
      <a href="" class="secondary-btn sm-gutter md-brr para-sm-xs"
        >Secondary Button</a
      >
    </div>
    <div class="links sm-gutter">
      <h3 class="sm-gutter">Disabled Buttons</h3>
      <a class="disabled-btn sm-gutter md-brr para-sm-xs">Disabled Button</a>
    </div>

    <div class="icon-btns sm-gutter">
      <h3 class="sm-gutter">Icon Buttons</h3>
      <a href="" class="primary-btn sm-gutter md-brr para-sm-xs"
        ><i class="fas fa-search"></i
      ></a>
      <a href="" class="secondary-btn sm-gutter md-brr para-sm-xs"
        ><i class="fas fa-search"></i
      ></a>
    </div>

    <div class="floating_btn sm-gutter">
      <h3 class="sm-gutter">Floating Action Button</h3>
      <a href="" class="float_action sm-gutter sm-padding full-brr para-sm-xs"
        ><i class="fas fa-plus"></i>
      </a>
      <a href="" class="float_action sm-padding sm-gutter full-brr para-sm-xs"
        ><i class="fas fa-bars"></i>
      </a>
    </div>

    <div class="btn-with-icon-text sm-gutter">
      <h3 class="sm-gutter">Button with text and icons</h3>
      <a href="" class="primary-btn sm-gutter sm-padding sm-brr para-sm-xs"
        ><span><i class="fas fa-envelope xs-gutter"></i>Email</span>
      </a>
      <a href="" class="primary-btn sm-padding sm-gutter sm-brr para-sm-xs"
        ><span><i class="fas fa-wrench xs-gutter"></i>Settings</span>
      </a>
    </div>

    <!-- <script src="./script.js"></script> -->
  </body>
</html>
