<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="avatar.css" />
  </head>
  <body class="bg-dark">
    <h2 class="sm-gutter">Avatar</h2>
    <h3 class="sm-gutter">Basic Avatars</h3>
    <div class="avatar sm-gutter">
      <img
        class="full-brr img-xs xs-gutter"
        src="../../images/profile_pic.jpg"
        alt="sample-img"
      />
    </div>

    <div class="avatar sm-gutter">
      <img
        class="full-brr img-sm xs-gutter"
        src="../../images/profile_pic.jpg"
        alt="sample-img"
      />
    </div>

    <div class="avatar sm-gutter">
      <img
        class="full-brr img-md xs-gutter"
        src="../../images/profile_pic.jpg"
        alt="sample-img"
      />
    </div>

    <div class="avatar sm-gutter">
      <img
        class="full-brr img-lg xs-gutter"
        src="../../images/profile_pic.jpg"
        alt="sample-img"
      />
    </div>
    <h3 class="sm-gutter">Badge on Avatars</h3>
    <div class="avatar sm-gutter img-badge">
      <img
        class="full-brr img-md"
        src="../../images/profile_pic.jpg"
        alt="sample-img"
      />
      <div class="notif-green img-xxs full-brr xs-padding"></div>
    </div>
    <div class="avatar sm-gutter img-badge">
      <img
        class="full-brr img-md"
        src="../../images/profile_pic.jpg"
        alt="sample-img"
      />
      <div class="notif-red img-xxs full-brr xs-padding"></div>
    </div>
  </body>
</html>
