@import "../../style_guide.css";
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.avatar {
  width: fit-content;
}
img {
  object-fit: contain;
  block-size: auto;
  position: relative;
}

/* Green badge on avatar */
.notif-green {
  background-color: var(--success-color);
  position: absolute;
  bottom: 5px;
  left: 40px;
  border: 2px solid var(--txt-color);
}

/* Red badge on avatar */
.notif-red {
  background-color: var(--danger-color);
  position: absolute;
  bottom: 5px;
  left: 40px;
  border: 2px solid var(--txt-color);
}

/* Images */
.img-badge {
  position: relative;
}
