<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./toast.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2 class="sm-gutter">Toast/SnackBar</h2>

    <a class="btn toggle-btn-1 primary-btn xs-gutter md-brr para-sm-xs"
      >Open dark snackBar</a
    >

    <div class="toast pos1 sm-gutter sm-brr">
      <div class="content xxs-padding para-sm-xs">
        Can't send photo retry in 5 seconds
      </div>
      <div class="toast_action xs-gutter para-sm-xs">
        <span class="xxs-padding"><a href="">Retry</a></span>
        <span class="toast-icon xxs-padding"
          ><a href=""><i class="fas fa-window-close fa-2x"></i></a
        ></span>
      </div>
    </div>

    <a class="btn toggle-btn-2 primary-btn xs-gutter md-brr para-sm-xs"
      >Open light snackBar</a
    >

    <div class="toast pos1 light-v pos1 sm-gutter sm-brr">
      <div class="content xxs-padding para-sm-xs">
        Can't send photo retry in 5 seconds
      </div>
      <div class="toast_action xs-gutter para-sm-xs">
        <span class="xxs-padding"><a href="">Retry</a></span>
        <span class="toast-icon xxs-padding"
          ><a href=""><i class="fas fa-window-close fa-2x"></i></a
        ></span>
      </div>
    </div>
    <a class="btn toggle-btn-3 primary-btn xs-gutter md-brr para-sm-xs"
      >Open success snackBar</a
    >

    <div class="toast pos1 success-v sm-gutter sm-brr">
      <div class="content xxs-padding para-sm-xs">Photo sent - SUCCESS</div>
      <div class="toast_action xs-gutter para-sm-xs">
        <span class="toast-icon xxs-padding"
          ><a href=""><i class="far fa-check-circle fa-2x"></i></a
        ></span>
      </div>
    </div>

    <a class="btn toggle-btn-4 primary-btn xs-gutter md-brr para-sm-xs"
      >Open error snackBar</a
    >

    <div class="toast pos1 error-v sm-gutter sm-brr">
      <div class="content xxs-padding para-sm-xs">Can't send photo - ERROR</div>
      <div class="toast_action xs-gutter para-sm-xs">
        <span class="toast-icon xxs-padding"
          ><a href=""><i class="fas fa-exclamation-circle fa-2x"></i></a
        ></span>
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
