@import "../../style_guide.css";

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}

.no-style {
  list-style-type: none;
}

.stacked-list {
  width: fit-content;
}

.spaced-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-border-bg {
  border: 2px solid var(--primary-color);
}
