@import "../../style_guide.css";

.stacked-list {
  width: fit-content;
}

.spaced-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-border-bg {
  border: 2px solid var(--primary-color);
}
