<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./lists.css" />
  </head>
  <body>
    <h2 class="xs-gutter">Lists</h2>
    <h3 class="sm-gutter">Simple Spaced List</h3>
    <div class="list-container sm-gutter">
      <ul class="sm-gutter spaced-list no-style">
        <li class="xs-gutter">Item 1</li>
        <li class="xs-gutter">Item 2</li>
        <li class="xs-gutter">Item 3</li>
        <li class="xs-gutter">Item 4</li>
      </ul>
    </div>
    <h3 class="sm-gutter">Simple Spaced List with background</h3>
    <ul class="sm-gutter spaced-list no-style">
      <li class="xs-gutter list-border-bg sm-brr xs-padding">Item 1</li>
      <li class="xs-gutter list-border-bg sm-brr xs-padding">Item 2</li>
      <li class="xs-gutter list-border-bg sm-brr xs-padding">Item 3</li>
      <li class="xs-gutter list-border-bg sm-brr xs-padding">Item 4</li>
    </ul>

    <h3 class="sm-gutter">Simple Stacked List</h3>
    <ul class="sm-gutter stacked-list no-style">
      <li class="xs-gutter sm-brr xs-padding">Item 1</li>
      <li class="xs-gutter sm-brr xs-padding">Item 2</li>
      <li class="xs-gutter sm-brr xs-padding">Item 3</li>
      <li class="xs-gutter sm-brr xs-padding">Item 4</li>
    </ul>

    <h3 class="sm-gutter">Simple Stacked List with background</h3>
    <ul class="sm-gutter stacked-list no-style">
      <li class="xs-gutter sm-brr xs-padding list-border-bg">Item 1</li>
      <li class="xs-gutter sm-brr xs-padding list-border-bg">Item 2</li>
      <li class="xs-gutter sm-brr xs-padding list-border-bg">Item 3</li>
      <li class="xs-gutter sm-brr xs-padding list-border-bg">Item 4</li>
    </ul>
  </body>
</html>
