<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./rating.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-dark">
    <h3 class="xs-gutter">Ratings</h3>
    <div class="rating-container xs-gutter">
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>
  </body>
</html>
