<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./badge.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-dark">
    <h2 class="sm-gutter">Badges</h2>
    <h3 class="sm-gutter">Badge on Icon</h3>
    <div class="badge-container sm-gutter">
      <div class="email-badge">
        <i class="fas fa-envelope fa-2x xs-padding"></i>
      </div>
      <div class="badge xs-padding full-brr para-sm-xs">10</div>
    </div>
    <div class="badge-container sm-gutter">
      <div class="email-badge">
        <i class="fas fa-envelope xs-padding"></i>
      </div>
      <div class="badge full-brr para-xs xxs-padding pos-small">10</div>
    </div>

    <div class="badge-container sm-gutter">
      <div class="notifs-badge full-brr">
        <i class="fas fa-bell fa-2x sm-padding"></i>
      </div>
      <div class="badge xs-padding full-brr para-sm-xs">10</div>
    </div>
    <div class="badge-container sm-gutter">
      <button class="button-badge para-sm xs-gutter md-brr">Action</button>
      <div class="badge xs-padding full-brr para-sm-xs">10</div>
    </div>
    <div class="badge-container sm-gutter">
      <button class="button-badge para-xs xs-gutter md-brr">Action</button>
      <div class="badge xxs-padding full-brr para-xs pos-small">10</div>
    </div>
  </body>
</html>
