@import "../../style_guide.css";
@import "../button/button.css";
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  visibility: hidden;
}

.btn {
  cursor: pointer;
}
/* Modal */

.modal {
  position: fixed;
  top: 20vh;
  visibility: hidden;
  left: 5%;
  width: 90%;
  background-color: var(--txt-color);
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
}
/* Content and action */
.content {
  color: var(--dark-accent);
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
