<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./input.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2 class="xs-gutter">Inputs</h2>
    <h3 class="sm-gutter">Input Field - Textbox</h3>
    <div class="sm-gutter input-container">
      <label for="textbox" class="xxs-padding label-display">Label</label>
      <input type="text" class="textbox img-xl xxs-padding" />
    </div>
    <h3 class="sm-gutter">Input Field - Textbox and placeholder</h3>
    <div class="sm-gutter input-container">
      <label for="textbox" class="xxs-padding label-display">Label</label>
      <input
        type="text"
        placeholder="Placeholder"
        class="textbox img-xl xxs-padding"
      />
    </div>
    <h3 class="sm-gutter">Input Field - Error Box</h3>
    <div class="sm-gutter input-container">
      <label for="textbox" class="xxs-padding label-display">Label</label>
      <input
        type="text"
        class="textbox validation-input img-xl xxs-padding"
        placeholder="email"
      />
      <i class="fas fa-exclamation-triangle xs-gutter error para-md"></i>
    </div>

    <h3 class="sm-gutter">Input Field - CheckBox</h3>

    <div class="sm-gutter checkbox-container">
      <label for="checkbox" class="checkbox para-sm xs-padding label-display"
        >Label</label
      >
      <input type="checkbox" name="input1" class="checkbox-input" />
    </div>
    <div class="sm-gutter checkbox-container">
      <label for="checkbox" class="checkbox para-sm xs-padding label-display"
        >Label</label
      >
      <input type="checkbox" name="input1" class="checkbox-input" />
    </div>

    <h3 class="sm-gutter">Input Field - RadioButtons</h3>

    <div class="sm-gutter checkbox-container">
      <label for="radio-btn" class="checkbox para-sm xs-padding label-display"
        >Label</label
      >
      <input type="radio" name="input1" class="radio-input" />
    </div>
    <div class="sm-gutter radio-container">
      <label for="radio-btn" class="radio para-sm xs-padding label-display"
        >Label</label
      >
      <input type="radio" name="input1" class="radio-input" />
    </div>

    <h3 class="sm-gutter">Input Field - Slider</h3>
    <div class="sm-gutter">
      <label for="slider" class="para-md xs-padding label-display"
        >Slider</label
      >
      <input
        type="range"
        name="input1"
        class="range-input img-sm"
        min="0"
        max="100"
      />
    </div>
    <script src="./input.js"></script>
  </body>
</html>
