@import "../../style_guide.css";

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.alert-item {
  /* background-color: var(--primary-color); */
  width: 30rem;
}
.long {
  width: 30rem;
  border: 2px solid var(--accent-color);
  background-color: #143041;
}
.danger {
  /* background-color: ; */
  border: 1px solid #f87171;
}
.danger i {
  color: #f87171;
}
.reg {
  border: 1px solid #22d3ee;
}
.reg i {
  color: #22d3ee;
}
.warning {
  border: 1px solid #facc15;
}

.warning i {
  color: #facc15;
}

.success {
  border: 1px solid var(--success-color);
}

.success i {
  color: var(--success-color);
}
