@import "../../style_guide.css";

.alert-item {
  /* background-color: var(--primary-color); */
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  justify-content: flex-start;
}
/* Long alert */
.long {
  max-width: 40rem;
  border: 1px solid var(--primary-color);
  background-color: var(--dark-accent);
}

/* error alert */
.danger {
  /* background-color: ; */
  border: 1px solid var(--danger-color);
}
.danger i {
  color: var(--danger-color);
}

/* Regular info alert */
.reg {
  border: 1px solid var(--primary-color);
}
.reg i {
  color: var(--primary-color);
}

/* Warning alert */
.warning {
  border: 1px solid var(--warning-color);
}
.warning i {
  color: var(--warning-color);
}

/* Success alert */
.success {
  border: 1px solid var(--success-color);
}

.success i {
  color: var(--success-color);
}

@media (max-width: 668px) {
  .alert {
    font-size: 0.5rem;
  }
}
