<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="alert.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2 class="sm-gutter">Alerts</h2>
    <h3 class="sm-gutter">Status Alerts</h3>
    <div class="sm-gutter">
      <div class="alert-item reg sm-gutter xs-padding">
        <span class="para-sm-xs"
          ><i class="fas fa-info-circle xs-gutter"></i>This is an info alert —
          check it out!
        </span>
      </div>
      <div class="alert-item warning sm-gutter xs-padding">
        <span class="para-sm-xs"
          ><i class="fas fa-exclamation-circle xs-gutter"></i>Seems your account
          is about expire, upgrade now</span
        >
      </div>
      <div class="alert-item danger sm-gutter xs-padding">
        <span class="para-sm-xs"
          ><i class="fas fa-exclamation-circle xs-gutter"></i>There was an error
          processing your request</span
        >
      </div>
      <div class="alert-item success sm-gutter xs-padding">
        <span class="para-sm-xs"
          ><i class="fas fa-check-circle xs-gutter"></i>Data uploaded to the
          server. Fire on!</span
        >
      </div>
    </div>

    <h3 class="sm-gutter">Long Alert</h3>
    <div class="alert-item sm-gutter long">
      <h3 class="xs-gutter">
        <i class="fas fa-info-circle xs-gutter"></i>Alert
      </h3>
      <p class="xs-gutter para-sm-xs">
        you successfully read this important alert message. This example text is
        going to run a bit longer so that you can see how spacing within an
        alert works with this kind of content.
      </p>
      <p class="xs-gutter para-sm-xs">
        Whenever you need to, be sure to use margin utilities to keep things
        nice and tidy.
      </p>
    </div>
  </body>
</html>
