@import "../../style_guide.css";

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.alert-item {
  /* background-color: var(--primary-color); */
  width: 40rem;
  min-width: fit-content;
}

.warning {
  /* background-color: ; */
}
